################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/.vs
.vs/
# obj、bin 文件不需要提交
obj/
bin/
*.gitignore
/.gitignore
*.log
*.user
packages/